body{
    /* background: linear-gradient(to right, #e20707, #09e62a); */
    background: linear-gradient(to left, #d2f121, #05c7e9);;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    color: rgb(242, 7, 38);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: white;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(31, 12, 246);
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    text-align: center;
    color: #ed0d11;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.form {
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    justify-content: center;
    width: 60%;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    display: block;
    margin: 20px auto 0 auto;
}
p {
    text-align: center;
    font-size: 30px;
}